<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-Ue5wF7Wtc_KZUS_3cx9PzMSjJ3mPbF8</string>
	<key>GCM_SENDER_ID</key>
	<string>705624458481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codbun.meme.ai</string>
	<key>PROJECT_ID</key>
	<string>meme-ai-db8af</string>
	<key>STORAGE_BUCKET</key>
	<string>meme-ai-db8af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705624458481:ios:0d31e23d4951c5a8175550</string>
</dict>
</plist>